# COMMON
TIMEOUT=10
TMP_PATH=/tmp/path/to/
LOG_FILE=/tmp/path/to/megumegu.log
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.133 Safari/537.36

# MySQL
MYSQL_HOST=localhost
MYSQL_USER=user
MYSQL_PASS=pass
MYSQL_DB=db

# Twitter
CONSUMER_KEY=[CONSUMER_KEY]
CONSUMER_SECRET=[CONSUMER_SECRET]
ACCESS_KEY=[ACCESS_KEY]
ACCESS_SECRET=[ACCESS_SECRET]

TWITTER_CHAR_LIMIT=140
TWITTER_IMG_MAX=4
TWITTER_URL_LEN=24 # include white space (+1)

# Slack
SLACK_WEBHOOK=[API_KEY]
